.tool-bar{

  display: flex;
  
  

}
.item{
  border: 1px solid black;
}
.span{
  display:flex;
  gap:10px;
}
.company-poster {
  height: 50px;
  width: 100px;

 
}

.logo {
  color:inherit;
  Width: 100px;
  height:100px;
}

.search-bar{
  border:1px solid;
  border-radius: 5px;
  border: 1px inherit ;
  margin-left: auto;
  width:20%;
}
.login-form{
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 10px;
  width:60%;
  
  
}


.signup-form{
  display: flex;
  flex-direction: column;
  gap: 20px;
  width:30%;
  margin-left: 550px;
}
.answer_form{
  display: flex;
  flex-direction: column;
  gap:10px;
}
.question_form{
  display: flex;
  gap:10px;
  flex-direction: column;
}
